.page-enter-active,
.page-leave-active{
  transition: opacity 300ms ease-in;
}
.page-enter,
.page-leave-active{
  opacity: 0;
}

.list-enter-active,
.list-leave-active{
  transition: all 300ms;
  font-size: 12px;
}
.list-enter,
.list-leave-active{
  opacity: 0;
  font-size: 40px;
}